<!DOCTYPE html>
<script type="text/javascript">
	var moduleData = {{ moduleData|raw}};
	var avTags = {{ avTags|raw}};
        var courseId = {{courseId}}
</script>
<script type="text/javascript" src="plugins/delphinium/iris/assets/javascript/jquery.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/iris/assets/javascript/angular.v1.3.15.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/iris/assets/javascript/angular-ui-tree.js"></script>
<script type="text/javascript" src="plugins/delphinium/iris/assets/javascript/tree.js"></script>
<link rel="stylesheet" type="text/css" href="plugins/delphinium/iris/assets/css/module-tree.css">
<link rel="stylesheet" type="text/css" href="plugins/delphinium/iris/assets/css/angular-ui-tree.min.css">
<div id="flashMsg" class="hidden"><span >This item can't be dragged to the top because it is unpublished</span></div>
<form data-request="angular::onRefreshCache">
    <button type="submit" class="btn btn btn-primary">Refresh Data from Canvas</button>
</form>

<div ng-app="treeApp" ng-controller="treeCtrl">
{% verbatim %}

<div>
    <a href="" class="btn btn-default pull-right" ng-click="reloadApp()">Reload page</a>
</div>
    <div class="buttons">
        <a href="" class="btn btn-default pull-right" ng-click="collapseAll()">Collapse all</a>
        <a href="" class="btn btn-default pull-right" ng-click="expandAll()">Expand all</a>
    <!--          <a class="btn btn-success" nodrag ng-click="saveOrder(this)">Save Order</a>-->
    </div>
    <div class="manager">
    
        <!-- Nested node template -->
        <script type="text/ng-template" id="nodes_renderer.html">
          <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'unpublishedModule': (item.published==='0')}">
            <a class="btn btn-success btn-xs" ng-if="item.children && item.children.length > 0" nodrag ng-click="toggle(this)">
           
            <span ng-class="{'icon-chevron-right': collapsed, 'icon-chevron-down': !collapsed}"></span></a>
            {{item.name}}
          </div>
  

        <a ng-class="{'icon-chevron-right': isExpanded, 'icon-chevron-down': !isExpanded}"
            class="pull-right btn expand" nodrag ng-click="showContent(item)"></a>
            
        <ng-switch on="item.published">
          <span class="icon-cloud unpublishedModuleIcon pull-right btn" ng-switch-when="0"> unpublished</span>
        </ng-switch>
 
        <div id="div{{item.module_id}}" class="node hidden">
            <div class="divContent" ng-repeat="item in item.module_items" >
                <a href="" class="contentLink" ng-class="{'unpublishedItem': (item.published==='0')}">
                    <i class="icon-tasks contentType"></i>
                    <span>{{item.title}}</span>
                </a>
                <a title="Click to edit tags" class="btn icon-tags dive" ng-class="{'unpublishedItem': (item.published==='0')}"
                    nodrag ng-click="showTagsFunc(this)"></a>  
                    
                <ng-switch on="item.published">
                    <span class="btn icon-cloud unpublishedTagIcon" ng-switch-when="0"> unpublished</span>
                </ng-switch>
                <div id="div{{item.module_item_id}}" class="hidden tagNode">
                    <div class="divTags" width='350px' height='auto'>
                        <form ng-submit="addTags(this)">
                            Current tags:
                            <ul>
                                <li ng-repeat="tag in tags">{{tag}}
                                    <i class="removeTags" ng-click="deleteTag(this, tag)">X</i>
                                </li>
                            </ul>
                            
                            
                            Possible tags:
                            <ul>
                                <li class="addInnerTag"  ng-repeat="item in possibleTags"><i ng-click="addInnerTag(this, item)">{{item}}</i>
                                </li>
                            </ul> 
                    
                            Add your own tags separated by a comma.<br/>
                            <input type="text" ng-model="tagValue">
                            <input type="submit" value="Add Tags">
                        </form>
                        
                        
                            
                    </div>
                </div>
            </div>
        </div>

          <ol ui-tree-nodes="" ng-model="item.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="item in item.children" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
          </ol>
        </script>
        <div ui-tree callbacks="treeOptions" id="tree-root">
          <ol ui-tree-nodes="" ng-model="data">
            <li class="treeItem" ng-repeat="item in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
        
    </div>

  {% endverbatim %}  
</div>

  