<!DOCTYPE html>
<script type="text/javascript">
	var moduleData = {{ moduleData|raw}};
	var avTags = {{ avTags|raw}};
        var courseId = {{courseId}};
</script>
<div id="flashMsg" class="hidden"><span >This item can't be dragged to the top because it is unpublished</span></div>

<div ng-app="treeApp" ng-controller="treeCtrl">
    
    {% verbatim %}
    <a href="" class="btn btn btn-primary" ng-click="reloadApp()">Refresh Data from Canvas</a>
    <i class="icon-spinner icon-spin icon-large" ng-show="loading"></i>
    <span ng-show="loading">Loading data. Please wait...</span>

    <div class="buttons">

        <div ng-controller="addModuleCtrl">
            <button type="button" class="btn btn-default pull-left" aria-label="Left Align" ng-click="collapseAll()">
                <span class="icon-chevron-right" aria-hidden="true" ng-click="collapseAll()"></span> Collapse all
            </button>
            <button type="button" class="btn btn-default pull-left" aria-label="Left Align" ng-click="expandAll()">
                <span class="icon-chevron-down" aria-hidden="true" ng-click="expandAll"></span> Expand all
            </button>
            <button type="button" class="btn btn-primary pull-right" aria-label="Left Align" ng-click="open(item)">
                <span class="icon-plus" aria-hidden="true"></span> Module
            </button>

        </div>
    </div>

    <div class="manager">


            <!--EDIT MODULE ITEM-->
            <script type="text/ng-template" id="modalTemp.html">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Item Details</h3>
                </div>
                <div class="itemModal">
                    <div class="modal-body">
                        Name:
                        <a href="#" editable-textarea="item.title">
                            <pre>{{item.title}}</pre>
                        </a>
                        <br>
                        Url:

                        <a href="#" editable-textarea=" item.external_url">
                            <pre>{{item.external_url}}</pre>
                        </a>

                    </div>
                </div>
                <div class="modal-footer">

                    <a href="" class="btn btn-primary pull-right" ng-click="ok(item)">Update</a>
                    <a href="" class="cancel btn btn-default pull-right" ng-click="cancel()">Close</a>
                    <a href="" class="btn btn-danger pull-left" ng-click="delete(this)">Remove</a>
                </div>
            </script>

            <!--Modal Template-->
            <script type="text/ng-template" id="modalTemplate.html">
                <div class="modalText">
                    <div class="modal-header">
                        <h3 class="modal-title">Edit Module Settings</h3>
                    </div>
                    <div class="modal-body">
                        <h4>{{item.name}}</h4>
                        <input type="checkbox" ng-model="checked" name="chklabl" id="chklabl"> Lock module until a give
                        date
                        <br>
              <span ng-show="checked">
                  Unlock At:
                  <div class="prereqMenu" ng-controller="DatepickerCtrl">
                      <p class="input-group">
                          <input type="text" class="form-control"
                                 datepicker-popup="{{format}}"
                                 show-weeks="false"
                                 ng-model="dt"
                                 is-open="opened" min-date="minDate"
                                 max-date="'3015-06-22'"
                                 datepicker-options="dateOptions"
                                 date-disabled="disabled(date, mode)"
                                 ng-required="true" close-text="Close"/>

                      <div class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open($event)">
                              <i class="icon-calendar"></i>
                          </button>


                      </div>
                  </div>
                    <br>
                    </span>
                        <br>
                        Before students can view this module:
                        <br>
                        No prerequisites defined
                        <br>

                        <div class="addPrereqOrRequirement">
                            <span class=" icon-plus-sign" ng-model="collapsed" ng-click="collapsed=!collapsed"></span>
                            Add prerequisite<br>
                        </div>
                        <div class="row">
                            <div class="prereqMenu" ng-show="collapsed">They must complete:
                                <form id="myForm">
                                    <select class="form-control" id="selectNumber">

                                        <option>Select from menu</option>

                                        <option>{{item.name}}</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </form>
                            </div>
                            <br><br>
                        </div>
                        This module is complete when:
                        <br>
                        No requirements defined
                        <br>

                        <div class='addPrereqOrRequirement'>
                      <span class=" icon-plus-sign" ng-model="hidden"
                            ng-click="collapsed=!collapsed"></span> Add requirement
                        </div>


                        <div class="checkbox">

                            <input type="checkbox" onclick="if(this.check){myFunction()}"> Students must move through
                            requirements in this module in a sequential order
                        </div>
                        <br>

                        <div class="modal-footer">

                            <a href="" class="btn btn-primary pull-right" ng-click="ok()">Update</a>
                            <a href="" class="cancel btn btn-default pull-right" ng-click="cancel()">Close</a>
                            <!--<a href="" class="cancel btn btn-danger pull-left " ng-click="delete()">Delete</a>-->
                            <a href="" class="btn btn-danger pull-left" ng-click="delete(this)">Delete</a>
                        </div>
                    </div>
                </div>
            </script>

            <!--Modal Template-->
            <script type="text/ng-template" id="addModalTemplate.html">
                <div class="modalText">
                    <div class="modal-header">
                        <h3 class="modal-title">Add Module</h3>
                    </div>
                    <div class="modal-body">
                        Module Name
                        <a href="#" editable-textarea=" item.name">
                            <pre>{{item.name}}</pre>
                        </a>
                        <input type="checkbox" ng-model="checked" name="chklabl" id="chklabl"> Lock module until a given
                        date<br>
  <span ng-show="checked">
                  Unlock At:
                  <div class="prereqMenu" ng-controller="DatepickerCtrl">
                      <p class="input-group">
                          <input type="text" class="form-control"
                                 datepicker-popup="{{format}}"
                                 show-weeks="false"
                                 ng-model="dt"
                                 is-open="opened" min-date="minDate"
                                 max-date="'3015-06-22'"
                                 datepicker-options="dateOptions"
                                 date-disabled="disabled(date, mode)"
                                 ng-required="true" close-text="Close"/>

                      <div class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open($event)">
                              <i class="icon-calendar"></i></button>
                      </div>
                  </div>
                    <br>
                    </span>
                        <br>
                        Before students can view this module:
                        <br>
                        No prerequisites defined
                        <br>

                        <div class="addPrereqOrRequirement">
                            <span class="addPrereqOrRequirement" ng-model="collapsed" ng-click="collapsed=!collapsed">  Add prerequisite</span><br>
                        </div>
                        <div class="row">

                            <div class="prereqMenu" ng-show="collapsed">They must complete: <select
                                    class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select></div>
                            <br>
                        </div>

                        <div class="checkbox">

                            <input type="checkbox" onclick="if(this.check){myFunction()}"> Students must move through
                            requirements in this module in a sequential order
                        </div>
                        <br>

                        <div class="modal-footer">

                            <a href="" class="btn btn-primary pull-right" ng-click="ok()">Add Module</a>
                            <a href="" class="cancel btn btn-default pull-right" ng-click="cancel()">Cancel</a>
                        </div>
                    </div>
                </div>
            </script>
            <!--<html>-->
            <!--Modal Template-->

            <script type="text/ng-template" id="addItem.html">
                <div class="modalText">
                    <div class="modal-header">
                        <h3 class="modal-title">Add Item to "{{item.name}}"</h3>
                    </div>
                    <div class="modal-body">


                    <div class="row">


                            <pre>Add <select ng-model="selectedModuleItemType" ng-options="item.value for item in moduleItemTypes"
                                        ng-change="changedItemType(selectedModuleItemType)">
                                <option value="" disabled selected>Select Item Type</option>
                                </select> to Course Documents</pre>
                        </div>
                        <h6>
                            <span class=" icon-file-text-o" ng-model="hidden"> </span>Select the item you want to
                            associate with this module, or add a new item by selecting "New"

                        </h6>
                        <select class="dropdown-multiple" multiple ng-multiple="true" ng-model="selectedItemToAdd" ng-options="item.name for item in itemOptions"
                                ng-change="changedItem(selectedItemToAdd)">
                            <!--<option value="" disabled selected>Select Item</option>-->
                            <option value="new">[New item]</option>
                        </select>
                    </div>

                </div>
            </div>


                <br>
                <div class="modal-footer">
                    <a href="" class="btn btn-primary pull-right" ng-click="addItem()">Add Item</a>
                    <a href="" class="cancel btn btn-default pull-right" ng-click="cancel()">Cancel</a>
                </div>
            </script>

            <!-- Nested node template -->

       <div class ="treeLine">


            <script type="text/ng-template" id="nodes_renderer.html">
                <div ui-tree-handle class="tree-node tree-node-content"
                     ng-class="{'unpublishedModule': (item.published==='0')}">
                    <a class=" btn-lg" ng-if="item.children && item.children.length > 0" nodrag ng-click="toggle(this)"
                       ng-disabled="buttonDisabled">
                        <span ng-class="{'icon-chevron-down': collapsed, 'icon-chevron-right ': !collapsed}">
                    <a href={{item.items[0].html_url}} target="_blank"> </a>

                    <div ng-switch on="item.published">
                        <a href="#" editable-text=" item.name" ng-switch-when="1">
                            {{item.name}}
                        </a>
                        <a href="#" editable-text=" item.name" class="unpublishedText" ng-switch-when="0">
                            {{item.name}}
                        </a>

                    </div>
                            </span></a>
                </div>
        </div>



                <div ng-switch on="item.published">
                    <a ng-class="{'icon-reorder publishedModuleIcon': isExpanded, 'icon-navicon publishedModuleIcon': !isExpanded}"
                       class=" pull-right btn expand" nodrag ng-click="showContent(item)" ng-switch-when="1"></a>
                    <a ng-class="{'icon-reorder unpublishedModuleIcon': isExpanded, 'icon-navicon unpublishedModuleIcon': !isExpanded}"
                       class=" pull-right btn expand" nodrag ng-click="showContent(item)" ng-switch-when="0"></a>
                </div>
                <div ng-controller="ModalJobCtrl">
                    <div ng-switch on="item.published">

                        <span class="icon-gear publishedModuleIcon pull-right btn" ng-click="open(item)"
                              ng-switch-when="1"></span>
                        <span class="icon-gear unpublishedModuleIcon pull-right btn" ng-click="open(item)"
                              ng-switch-when="0"></span>

                    </div>
                </div>
                <div ng-controller="addItemCtrl">
                    <div ng-switch on="item.published">
                        <span class="icon-plus publishedModuleIcon pull-right btn" ng-click="open(item)"
                              ng-switch-when="1"></span>

                        <span class="icon-plus unpublishedModuleIcon pull-right btn" ng-switch-when="0"></span>
                    </div>
                </div>

                <div ng-switch on="item.published">
                    <span class="icon-cloud unpublishedModuleIcon pull-right btn" ng-switch-when="0"
                          tooltip="Unpublished" ng-click="switchPublishedState(item)"></span>
                    <span class="icon-cloud publishedModuleIcon pull-right btn" ng-switch-when="1"
                          tooltip="Published" ng-click="switchPublishedState(item)"></span>
                </div>


                <div id="div{{item.module_id}}" class="node hidden">
                    <div class="divContent" ng-repeat="item in item.module_items">
                        <a href="" class="contentLink" ng-class="{'unpublishedItem': (item.published==='0')}">
                            <i class="icon-tasks contentType"></i>

                            <div ng-switch on="item.published">
                                <a href="{{item.html_url}}"> <span>{{item.title}}</span></a>
                                <a href="{{item.html_url}}" class="unpublishedItem" ng-switch-when="0"> <span>{{item.title}}</span></a>
                            </div>
                        </a>

                        <a title="Click to edit tags" class="btn icon-tags dive"
                           ng-class="{'unpublishedItem': (item.published==='0')}"

                           nodrag ng-click="showTagsFunc(this)">
                        </a>


                        <div ng-controller="ModalCtrl">
                            <div ng-switch on="item.published">
                                <a class="icon-gear gearMod pull-right" ng-click="open(item)" ng-switch-when="1"></a>
                                <a class="icon-gear unpublishedGearMod pull-right" ng-click="open(item)"
                                   ng-switch-when="0"></a>
                            </div>
                        </div>

                        <div ng-switch on="item.published">

                            <a class="icon-cloud unpublishedMod pull-right btn" ng-switch-when="0"
                               ng-click="switchPublishedState(item)"></a>
                            <a class="icon-cloud publishedModItem pull-right btn" ng-switch-when="1"
                               ng-click="switchPublishedState(item)"></a>
                        </div>
                        <span class="itemMessage pull-right">
                            <div ng-app ng controller="MyCtrl">
                                {{item.content[0].due_at | date:'dd MMM yyyy - hh:mm a'}}
                                &nbsp;&nbsp;&nbsp; {{item.content[0].points_possible}} pts
                            </div>
                        </span>

                        <div id="div{{item.module_item_id}}" class="hidden tagNode">
                            <div class="divTags" width='350px' height='auto'>
                                <form ng-submit="addTags(this)">
                                    Current tags:
                                    <ul>
                                        <li ng-repeat="tag in tags">{{tag}}
                                            <i class="removeTags" ng-click="deleteTag(this, tag)">X</i>
                                        </li>
                                    </ul>
                                    Possible tags:
                                    <ul>
                                        <li class="addInnerTag" ng-repeat="item in possibleTags"><i
                                                ng-click="addInnerTag(this, item)">{{item}}</i>
                                        </li>
                                    </ul>
                                    Add your own tags separated by a comma.<br/>
                                    <input type="text" ng-model="tagValue">
                                    <input type="submit" value="Add Tags">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <ol ui-tree-nodes="" ng-model="item.children" ng-class="{hidden: collapsed}">
                    <li ng-repeat="item in item.children" ui-tree-node ng-include="'nodes_renderer.html'">
                    </li>
                </ol>
            </script>
            <div ui-tree callbacks="treeOptions" id="tree-root">
                <ol ui-tree-nodes="" ng-model="data">
                    <li class="treeItem" ng-repeat="item in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
            </div>
        </div>
    </div>

{% endverbatim %}