<!DOCTYPE html>
<script type="text/javascript">
	var moduleData = {{ moduleData|raw}};
	var avTags = {{ avTags|raw}};
        var courseId = {{courseId}}
</script>

<form data-request="angular::onRefreshCache"">
    <button type="submit" class="btn btn btn-primary">Refresh Cache</button>
</form>

<div ng-app="treeApp" ng-controller="treeCtrl">
{% verbatim %}
<div class="buttons">
          <a href="" class="btn btn-default pull-right" ng-click="collapseAll()">Collapse all</a>
          <a href="" class="btn btn-default pull-right" ng-click="expandAll()">Expand all</a>
          <a class="btn btn-success" nodrag ng-click="saveOrder(this)">Save Order</a>
    </div>
  <div class="manager">
    <span>In order for Iris to function properly, all modules must be nested inside a "main" module.</span>
    
        <!-- Nested node template -->
        <script type="text/ng-template" id="nodes_renderer.html">
          <div ui-tree-handle>
            {{item.name}}
          </div>
          <ol ui-tree-nodes="" ng-model="item.children">
            <li ng-repeat="item in item.children" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
          </ol>
        </script>
        <div ui-tree callbacks="treeOptions">
          <ol ui-tree-nodes="" ng-model="data" id="tree-root">
            <li ng-repeat="item in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
        
      </div>

    </div>

  </div>

  {% endverbatim %}  
</div>

