<script>
	var gradeSize = {{gradeSize}};
</script>
<table class="grade_table">
    <tr>
        <td class ="data">{{XP|round(2, 'common')}}</td>
        <td class = "labels">Experience</td>
    </tr>
    <tr>
        <td class ="data" id = "bonus">{{gradeBonus|round(2, 'common')}}</td>
        <td class = "labels">Bonus</td>
    </tr>
    <tr id ="borderTop">
        <td class ="data"  id = "total">{{XP+gradeBonus|round(2, 'common')}}</td>
        <td id = "grade">{{letterGrade}}</td>
    </tr>
</table>
