.DS_Store
*.log
dev/controllers/configuration/config_form.yaml
dev/controllers/configuration/config_list.yaml
greenhouse/Plugin.php
greenhouse/controllers/greenhouse/config_form.yaml
greenhouse/controllers/greenhouse/config_list.yaml
greenhouse/partials/_sidebar.htm
iris/controllers/home/config_form.yaml
iris/controllers/home/config_list.yaml
roots/controllers/lticonfiguration/config_form.yaml
roots/controllers/lticonfiguration/config_list.yaml
app/storage/
bootstrap/
install_files/
themes/demo/
uploads/
vendor/
app/config/database.php
install.php
.idea/