
<!--
    restore to original after done testing
 default.htm
  -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
    div.scroll {
        height: 200px;
        overflow: scroll;
    }
    .hiddenRow {
        display: none;
        visiblity: hidden;
    }

    .visibleRow {
        display:
        visibility: visible;

    }
</style>

<script type="text/javascript">

    function selectQuestions() {
        console.log('called: selectQuestions');
        var checkedQuestion =document.getElementsByTagName('INPUT');
        var cbResults = 'Checkboxes: ';
        // print check boxes to select the questions
        for (var i = 0; i < checkedQuestion.length; i++ ) {
            if (checkedQuestion[i].checked == true) {
                cbResults += checkedQuestion[i].name + ' ';
            }
        }
        var showQuestions = document.getElementById("printQuestions");
        //http://www.randomsnippets.com/2008/05/15/how-to-loop-through-checkboxes-or-radio-button-groups-via-javascript/
        var checkedQuestion =document.getElementsByTagName('INPUT'); // get all input
        //alert(checkedQuestion.length);
        var getOptionAnswers = false;
        var answerId = 0;

        showQuestions.innerHTML = "<form>";
        for (var i = 0; i < checkedQuestion.length; i++ ) {
            if (  checkedQuestion[i].type == 'checkbox' && checkedQuestion[i].checked == false)
            {
                getOptionAnswers = false;
            }
            // at the moment i run the first partial i grab the data, answers are hidden fields
            // two options figure out ajax or keep doing it this way
            // check if question has been selected
            // answers had been hidden
            if (checkedQuestion[i].type == 'checkbox' && checkedQuestion[i].checked == true ) {
                showQuestions.innerHTML += checkedQuestion[i].value + ' <br>';
                getOptionAnswers = true;
                answerId = checkedQuestion[i].name;
            }
            else if (getOptionAnswers && checkedQuestion[i].type == 'hidden' && checkedQuestion[i].name != "btn" )
            {
                // show option answers
                showQuestions.innerHTML += " <input type='radio' name='"+ checkedQuestion[i].name +"' value='"+ checkedQuestion[i].name  +"' >&nbsp;&nbsp;" + checkedQuestion[i].value.replace('",', '') +"</input><br>";
            }

            if(getOptionAnswers && checkedQuestion[i].type == 'hidden' && checkedQuestion[i].name == "btn" )
            {
                // grade answer buttons for each selected questions
                showQuestions.innerHTML += " <button class='btn btn-primary' onclick='updateComponent("+ answerId +")' >Check</button><br>";
                showQuestions.innerHTML += " <div id='"+ answerId +  "'></div>";
                showQuestions.innerHTML += " <div id='"+ checkedQuestion[i].name +  "'></div><hr>";
            }
        }
        showQuestions.innerHTML += "</form>";
        showHide();
        //alert(cbResults);
    }
    function onDropDownChange(){
        document.getElementById('dropSelector').style.display='none';
        $('form').submit();
    }

    function updateComponent(answer){
        console.log('called: updateComponent');
        console.log('question_id:',answer);
        //'#getDatos' is just a name i dont have an element with this id
        //$('#getDatos').request('onGradeQuestion', {       
        $().request('onGradeQuestion', {
            data: {val:answer}, // pass parameters to the function in QuizList.php
            dataType: 'text',// returning info type. returns an array

            success: function(data) { // data contains the returning result from QuizList.php file

                var ans = answer;
                var datafromCode = document.getElementById('ans'+ans);//get div to update find the next one

                //split returning array
                var comments  = data.split(",");
                var correct = comments[0];
                var incorrect = comments[1];
                var neutral =comments[2];
                datafromCode.innerHTML =  "<i class='fa fa-check-circle' style='color:green'></i>"+correct+"<br> <i class='fa fa-times' style='color:red'></i> "+incorrect+"<br><i class='fa fa-comments' style='color:#2E9AFE'></i>"+neutral;
                datafromCode.innerHTML += "<br><button class='btn btn-success' onclick='gradeRetry()'>Retry</button><br>";
                console.log('comments:', comments);
            }
        });
    }

    function gradeRetry(){
         console.log('called: gradeRetry');
        //'#getDatos' is just a name i dont have an element with this id
        $('#getGtgrade').request('onRetryQuestion', {
            data: {val:123}, // pass parameters to the function in QuizList.php
            dataType: 'text',// returning info type. returns an array
            success: function(data) { // data contains the returning result from QuizList.php file

                //var t = JSON.parse(data);
                var comments  = data.split(",");
                var correct = comments[0];
                // data will have the new grade
                console.log("showing "+correct);
                var showQuestions = document.getElementById("printQuestions");
                showQuestions.innerHTML += " <div> <i class='fa fa-check-circle' style='color:green'></i>"+comments[0]+"</div>";
            }
        });
    }

    function showHide() {
        document.getElementById('questions').className='hiddenRow';
        var hideselectQuestions = document.getElementById('selectQuestions');
        hideselectQuestions.className='hiddenRow';
    }

    function nextButton() {
        document.getElementById(0).style.display='none';
        document.getElementById(1).style.display='block';
        $('html, body').animate({scrollTop: '0px'}, 300);
    }

</script>


{%  set test = __SELF__.quizzes %}
<div class="container">
    <div id="dropSelector">
        <hi>Select a Quiz </hi>
        <form data-request="{{ __SELF__ }}::onSelect"
              data-request-update="'{{ __SELF__ }}::quizSelection': '#result'"
       >

            <div>
                <select name="selectedQuiz" onchange="onDropDownChange()">
                    <option  value='Select' >Select</option>
                    {% for quiz in test %}

                    <option  value='{{ quiz.quiz_id }}' />
                    {{ quiz.title   }}
                    </option>

                    {% endfor %}
                </select>
            </div>

        </form>
    </div>

    <div id="result" >

        {% partial __SELF__~'::quizSelection'    %}

    </div>
</div>
