.center{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.colm{
    width: 49%;
    padding: 5px;
    margin: 2px;
    border: 1px solid #888;
}

.page {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%; height: 500px;
}
.leftcolm {
    float:left;
    margin: 0px 5px 0px 10px;/* T,R,B,L */
    padding: 0px 10px 0px 10px;
    width: 245px; height: 400px;
    overflow-y: auto;
    line-height: 1.3em;
    border: 2px dashed #888;
    background-color: #e0e0e0;
}
.modbox {
    width: 200px;
    height: 100px;
    float: left;
    position:relative;
    border: medium solid #666;
    background-color: #fff;
    color: #ababab;
    padding: 5px;
    margin: 10px 0px;
    display: inline-block;
}
.moditem {
    width: 200px !important;
    height: 200px !important;
    float: left;
    position: relative;
    border: medium solid #ababab;
    background-color: #fafafa;
    color: #ababab;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.modDraggable {
 /* .modbox .leftcolm */
    cursor: move;
    /*display: inline-block;*/
}
.modDraggable.ui-draggable-dragging { opacity: 0.6; }
.itemDraggable {
    cursor: ew-resize;
}

.rightcolm {
    float: left;
    width: 700px; height: 400px;
    overflow: hidden;
}
.tabody {
    height: 220px; 
    overflow-x: auto; 
    cursor:ew-resize;
}

