.center{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.colm{
    width: 49%;
    padding: 5px;
    margin: 2px;
    border: 1px solid #888;
}

.page {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%; height: 500px;
}
.leftcolm {
    float:left;
    margin: 0px 5px 0px 10px;/* T,R,B,L */
    padding: 0px 10px 0px 10px;
    width: 245px; height: 400px;
    overflow-y: auto;
    line-height: 1.3em;
    border: 2px dashed #888;
    background-color: #e0e0e0;
}
.modbox {
    width: 200px;
    height: 100px;
    float: left;
    position:relative;
    border: medium solid #666;
    background-color: #fff;
    color: #ababab;
    /*padding: 5px;*/
    margin: 10px 0px;/* tb, lr */
    display: inline-block;
}
.moditem {
    width: 180px !important;
    height: 180px !important;
    float: left;
    position: relative;
    border: medium solid #ababab;
    background-color: #fafafa !important;
    color: #ababab !important;/* overide sortable */
    /*padding: 5px;*/
	display: inline-block;
    margin: 5px 5px 5px 5px;/* T,R,B,L */
    cursor: pointer;/* click to show items */
}
.icos {
	font-size: 2em;
	position:relative;
    padding-left: 15px;
    padding-top: 20px;
	/*padding-top: 70px;*/
}
.title {
	background-color: #ababab;
	color: #fafafa;
	padding: 5px;
	font-size: 1em;
	font-weight: 600;
    cursor: move;/* instructor can drag to sort */
}
.items {
	padding: 5px;
	font-size: 0.8em;
	font-weight: 400;
}
.modDraggable {
 /* .modbox .leftcolm */
    cursor: move;
}
.modDraggable.ui-draggable-dragging { opacity: 0.6; }
.itemDraggable.ui-draggable-dragging { opacity: 0.6; }
.itemDraggable {
/*moditem .rightcolm*/
   /*cursor: ew-resize;*/
   
}

.rightcolm {
    float: left;
    width: 700px; height: 400px;
    overflow: hidden;
    position: relative;
}
.tabody {
    width: 670px;
    height: 200px; 
    overflow-x: auto; 
    cursor:ew-resize;
	background-color: #efefef !important;
}
.dropzone {
    opacity: 0.31;
    background-color: #333;
    width: 690px;
    height: 230px;
    display: inline-block;
    position: absolute;
    top: 95px;
    left: 10px;
    z-index: 800;
}

