<ul>
    <div class="components subitems">

        <div class="layout">
            <?php foreach ($files as $index => $file): ?>
                <div class="layout-row">
                    <div class="layout-cell">
                        <div class="layout-relative">

                            <li class="item">
                            <a class="name"><?= e($file->fileName) ?></a>
                            </li>
                        </div>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
</div>
</ul>