<?php if ($items): ?>
    <ul>
    <?php foreach ($items as $item): ?>
        <?php foreach ($item->items as $index => $component): ?>
            <li class="group" data-status="collapsed" data-group-id="<?= e($item->pluginClass) ?>">
                <div class="group">
                    <h4><a href="#"><?= e($component->title) ?></a></h4>
                </div>
                <div class="controls">

                </div>
                <?= $this->makePartial('component_list', ['files'=>$component->files]) ?>
            </li>
        <?php endforeach ?>
    <?php endforeach ?>
    </ul>
<?php else: ?>
    <p class="no-data"><?= e(trans('cms::lang.component.no_records')) ?></p>
<?php endif ?>