.center{
	text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.colm{
    width:49%;
    padding: 5px;
    margin: 2px;
    border: 1px solid #888888;
}
