.vanilla-plugin-instructions
{
    background-color: #95a5a6;
    color: white;
    padding: 3px 20px 3px 20px;
    font-size:12px;
}
.control-filelist.hero ul li.active > a {
    background-color: #d35400;
    color:white;
    border-left:0px;
}

.inDescription{
    color:#2b3e50;
}

.control-filelist.hero ul li > a span.inDescription:hover
{
    /*color:white !important;*/
}

.oc-bg-logo {
    background-image: url(../../../../assets/images/delphinium.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity:0.2;
}

/*#e67e22*/