<script>
    // include css or javascript libraries
    
    var role = '{{role}}';//string
    console.log('Role:',role);
    /*
        get variables from the php with twig
        use twig to determine if the component is seen 
        by an instructor or a student
        init global vars here
		fill global var there.
    */
    var moduledata = {{moduledata|raw}};
    //console.log('moduledata:',moduledata);
    
	var assignments=[];// student
	var subms=[];// view fills vars
</script>

{% if ('Learner' in role) %}
{% partial __SELF__~'::student' %}
{% elseif ('Instructor' in role) %}
{% partial __SELF__~'::instructor' %}
{% endif %}