<script>
    var encouragement = {{encouragement|raw}};
    var milestoneNum = {{numMilestones}};
    var experienceXP = {{experienceXP}};
    var experienceBonus = {{experienceBonus}};
    var experiencePenalties = {{experiencePenalties}};
    var experienceGrade = "{{experienceGrade}}";
    var experienceAnimate = {{experienceAnimate}};
    var maxXP = {{maxXP}};
    var milestoneClearance = {{milestoneClearance|raw}};
    console.log(milestoneClearance);
    var startDate = "{{startDate}}";
    var endDate = "{{endDate}}";
    var experienceSize = '{{experienceSize}}';
    var studentScores = {{studentScores}};
    var redLine = {{redLine}};
</script>
<h3 class = "name">Experience</h3>
<svg width= "225" height="520" id = "experienceSVG">
	<g id = "experienceView">
		<g id = "experienceAxis"></g>
		<g id = "bpAxis"></g>
		<path d ="  	M 50,35 
						L 50,400
						A 50 50, 0, 1, 0, 100 400
						L 100,35
						A 25 25, 0, 0, 0, 50 35"
						fill="white" stroke = "black" stroke-width = "2" />
		<clipPath id="experienceClipPath">
			<path d ="  M 50,35 
						L 50,400
						A 50 50, 0, 1, 0, 100 400
						L 100,35
						A 25 25, 0, 0, 0, 50 35" />
		</clipPath>
		<rect  id = "experienceRect" width="150" height="0" style=" fill:none; clip-path: url(#experienceClipPath); "/>
		<rect  id = "eBonusRect" width="150" height="0" style=" fill:none; clip-path: url(#experienceClipPath); "/>
		<rect  id = "ePenaltiesRect" width="150" height="0" style=" fill:none; clip-path: url(#experienceClipPath); "/>
		<rect  id = "redLine" width="150" height="0" style=" fill:none; clip-path: url(#experienceClipPath); "/>
		<path d ="  	M 50,35 
						L 50,400
						A 50 50, 0, 1, 0, 100 400
						L 100,35
						A 25 25, 0, 0, 0, 50 35"
						fill="none" stroke = "black" stroke-width = "2" />
	</g>
</svg>