<form class="form-horizontal"
      data-request="{{ __SELF__ }}::onAdd"
    data-request-update="'{{ __SELF__ }}::list': '#result'">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add new experience instance</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="new_name" class="col-sm-2 control-label" >Instance Name</label>
                <input type="text" id="new_name" class="col-md-8" name="new_name" placeholder="Enter the instance name"> 
            </div>
            <div class="form-group">
                <label for="new_total_points" class="col-sm-2 control-label" >Total Points</label>
                <input type="text" id="new_total_points" class="col-md-8" name="new_total_points" placeholder="Enter the total number of points"> 
            </div>
            <div class="form-group">
                <label for="new_start_date" class="col-sm-2 control-label" >Start Date</label>
                <input type="text" id="new_start_date" class="datepicker col-md-2" name="new_start_date" placeholder="Enter the start date">
            </div>
            <div class="form-group">
                <label for="new_end_date" class="col-sm-2 control-label" >End Date</label>
                <input type="text" id="new_end_date" class="datepicker col-md-2" name="new_end_date" placeholder="Enter the end date"> 
            </div>
            <div class="form-group">
                <label for="new_bonus_per_day" class="col-sm-2 control-label" >Bonus per Day</label>
                <input type="text" id="new_bonus_per_day" class="col-md-8" name="new_bonus_per_day" placeholder="Enter the number of bonus points to add per day"> 
            </div>
            <div class="form-group">
                <label for="new_bonus_days" class="col-sm-2 control-label" >No. of Days for Bonus</label>
                <input type="text" id="new_bonus_days" class="col-md-8" name="new_bonus_days" placeholder="Enter the number of days that bonus should be added (i.e., give bonus only if user submits assignment x days before the 'due date')"> 
            </div>
            <div class="form-group">
                <label for="new_penalty_per_day" class="col-sm-2 control-label" >Penalty per Day</label>
                <input type="text" id="new_penalty_per_day" class="col-md-8" name="new_penalty_per_day" placeholder="Enter the number of penalty points to add per day"> 
            </div>
            <div class="form-group">
                <label for="new_penalty_days" class="col-sm-2 control-label" >No. of Days for Penalty</label>
                <input type="text" id="new_penalty_days" class="col-md-8" name="new_penalty_days" placeholder="Enter the number of days that penalty should be added (i.e., give penalty for only x days after an assignment was due)"> 
            </div>
            <div>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn btn-primary">Add Instance</button>
                </span>
            </div>
        </div>
        <div id="result">
<!--            {% partial '@list' %}-->
        </div>
    </div>
    
<!--    <ul class="list-group" id="result">
    </ul>-->
</form>


            <div class="form-group"  id="milestones">
                <button class="btn btn-default" id="addMilestones">Add More Fields</button>
                <div>
                    <input class="col-md-7" type="text" name="mytext[]" placeholder="Enter the name of this milestone">
                    <input class="col-md-3" type="text" name="mytext[]" placeholder="Enter the points for this milestone">
                </div>
            </div>


<!--    data-request-update="'{{ __SELF__ }}::list': '#result'"
        data-request-success="$('#input-item').val('')"
-->