<script>
    var users = {{users|raw}};
    console.log(users);
    var experienceInstanceId = {{experienceInstanceId|raw}};
    var calling_user = {{calling_user|raw}};
</script>

<div class="panel-group" id="accordion">
    <div id="spinnerDiv" style="width:100%;height:400px;">
        <div style="width:60px;height:60px;position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);">
            <i class="icon-spinner icon-spin icon-3x icon-fw margin-bottom" style="color:#337AB7;"></i>
        </div>
    </div>
</div>
