* { margin: 0; padding: 0; }
body {
	background-size: cover;
	background-position: 50% 0;
	height: 100%;
}

html{
	height: 100%;
}

img {
	width: 25px;
	float: left;
	margin-right: 10px;
}

p{
	float: left;
	width: calc(100% - 50px - 10px);
	line-height: 25px;
}

#eggs{
	margin: 10px;
}

.egg{
	height: 25px;
}

.stuff{
	width: 600px;
}