/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2015, 12:48:40 PM
    Author     : damaris
*/
.body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.tooltip
{
    position: absolute;	
    max-width: 400px;			
    width: auto;
    height: auto;					
    padding: 3px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
a{
    color:dimgray !important;
}

a:hover
{
    color: #0096db !important;
    text-decoration: none !important;
}

.table
{
	font-size:13px;
}
.table caption
{
	font-size:15px;
	font-weight:bold;
	color:black;
}

.imp
{
	color:black !important;
	font-weight: bold !important;
}
.table th
{
	color:#3A2A30 !important;
	padding:10px !important
}
.table th:first-child
{
	padding-left:10px;
}
.table th:nth-child(2)
{
	text-align: center;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ebf1ff;
}
.gradebook
{
	padding:15px;
}
.done
{
    background-color:#eee;
}

.boxplot
{
	width:35%;    
}
.score
{
	width:8%;
	padding-left:10px !important;
	text-align: right;
}
.name
{
	width:65%;
	padding-left:10px !important;
}
.whisker
{
    stroke:black;
}

.box
{
    stroke:black;
    fill:white;
}
.studentScore
{
    fill: #FD994C;
}