/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 24, 2015, 12:48:40 PM
    Author     : damaris
*/
.body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

a{
    color:dimgray !important;
}

a:hover
{
    color: #0096db !important;
    text-decoration: none !important;
}

.table
{
	font-size:13px;
}
.table caption
{
	font-size:15px;
	font-weight:bold;
	color:black;
}

.table th
{
	color:#777 !important;
}
.table th:first-child
{
	padding-left:10px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th 
{
  background-color: #ebf1ff;
}

.gradebook table
{
	width:80% !important;
}
.done
{
    background-color:#eee;
}

.boxplot
{
	width:300px;    
}
.score
{
	width:40px;
}
.name
{
	width:350px;
	padding-left:10px !important;
}
.whisker
{
    stroke:black;
}

.box
{
    stroke:black;
    fill:white;
}
.studentScore
{
    fill:red;
}