.data{
	text-align: right;
	vertical-align:bottom;
}

.labels{
	padding-left: 10px;
	text-align: left;
	vertical-align:bottom;
}

#borderTop{
	border-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
}

#grade{
	padding-left: 10px;
	text-align: left;
	vertical-align:bottom;
}

.grade_table{
	color:#707070;
}

.table-gradingScheme
{
	font-size:12px;
	margin-bottom:0 !important;
}
.table-gradingScheme tbody tr td{
	padding:0px 0px 0px 6px
}
.table-gradingScheme thead tr th{
	padding: 0 5px !important;
}