/*----- Accordion -----*/
#accordion, #accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
#accordion {
    overflow:hidden;
	border-bottom:grey;
    //box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    //border-radius:3px;
    //background:#f7f7f7;
    border-bottom: 1px solid lightgray;
    display: table;
}
 
/*----- Tab Titles -----*/
.accordionTabTitle {
    width:300px;
    padding:15px;
    display:inline-block;
    border:1px solid #4682B4;
    background:whitesmoke;
    transition:all linear 0.15s;
    font-size:1.200em;
    text-shadow:0px 1px 0px gray;
    color: #4682B4;
}
 
.accordionTabTitle.active, .accordionTabTitle:hover{
    background:#4682B4;
	color: white;
}

.accordionTabTitle:hover, .accordionTabTitle:focus, .accordionTabTitle:visited, .accordionTabTitle:active, .accordionTabTitle:link{
    text-decoration: none;
    //color: white;
}

.accordionTab:last-child .accordionTabTitle {
    //border-bottom:none;
}
 
/*----- Tab Content -----*/
.accordionTabContent {
    //padding:15px;
    display:none;
    width:300px;
	color:grey;
}

.accordionTabContent .open{
	border-bottom:1px solid lightgrey;
}

.accordionTabContentStudent{
    border: 1px solid lightgray;
    //border-radius: 15px;
    //background-color: #FDFFD5;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-left: 10px;
}

.accordionTabContentStudentCurrent{
    border: 1px solid gray;
    //border-radius: 15px;
    background-color: #FFBA39;
    //padding: 10px;
}

.studentRank{
	font-size:30px;
	margin-left:10px;
	margin-right:10px;
	font-style:italic;
	color:gray;
}

.accordionTabContentStudentCurrent .studentRank{
	font-size:40px;
	margin-left:10px;
	margin-right:10px;
	font-style:italic;
	color:gray;
	font-weight:bold;
}

