#statsWrapper
{
    min-width:225px;
    min-height:200px;
    position:absolute;
}
.spinnerStats
{
    position: absolute;
}
.statsTooltip
{
    border: 3px solid gray;
    /*max-width: 300px;*/
    background: white;
    padding: 10px;
    font-size: 14px;
    color: gray;
    border-radius: 9px;
    position:absolute;
    z-index:1001;
}
#switch{
    width: 162px;
    height: 26px;
    position: relative;
}

.disabled
{
    pointer-events: none;
}
.switch-li
{
    font-size:9px;
}
.smallLi{
    font-size:8px;
    line-height:12px;
    height:15px;
}
.largeLi {
    font-size:15px;
    line-height:23px;
    height:24px;
}

#switch span a{
    text-decoration: none;
    font-family:"lato", sans-serif;
    color:gray;
}

.on{
    font-weight:bold;
}

a a:hover, a:visited, a:active{
    text-decoration:none;
}
.settings:visited
{
    text-decoration:none;
}
#statsSettings
{
    float: right;
    z-index:1001;
    cursor:pointer;
    position:relative;
}