<script>
    // component configuration [id,Name,Color,Size,Animate,course_id]
    var config = {{config|raw}};
    console.log('instance.Name: '+config.Name);
    console.log('instance.id: '+config.id);
	console.log('instance.course: '+config.course_id);
    
	//var course = {{course|raw}};
    //console.log('course.id: '+course.id);
    
    var role = '{{role}}';// comma separated
    console.log('Role: ',role);//string
	
    // or from config.Color,Size,Animate
	var competenciesColor='{{competenciesColor}}';//string
	var competenciesSize='{{competenciesSize}}'.toLowerCase();//string
	var competenciesAnimate={{competenciesAnimate}};//boolean
    
</script>
{% if ('Learner' in role) %}
{% partial 'competencies::studentView' %}
{% elseif ('Instructor' in role or 'TeachingAssistant' in role) %}
{% partial 'competencies::instructorView' %}
{% endif %}
