<script>
    
    var config = {{config|raw}};//Name
    console.log('instance.Name = '+config.Name);
    console.log('instance.id = '+config.id);
    
    var course = {{course|raw}};
    console.log('course_id:'+course.id);// onRender
    //console.log('course:'+JSON.stringify(course));// onRender
    var role = '{{role}}';
    console.log('Role: ',role);// array or string
    
    
	// make available to competencies.js
	var assignments={{assignments|raw}};//json
	var submissions = {{submissions|raw}};
	var competenciesColor='{{competenciesColor}}';//string
	var competenciesSize='{{competenciesSize}}'.toLowerCase();//string
	var competenciesAnimate={{competenciesAnimate}};//boolean
    
</script>
{% if ('Learner' in role) %}
{% partial 'competencies::studentView' %}
{% elseif ('Instructor' in role or 'TeachingAssistant' in role) %}
{% partial 'competencies::instructorView' %}
{% endif %}
