<!-- element for d3 to place competencies -->
<svg id = "competenciesSVG">
	<g id="competenciesView"></g>
</svg>
<!-- Modal: when a bar is clicked show details for competency -->
<div class="control-popup modal fade" id="detailed" tabindex="-1" role="dialog">
    <div class="modal-dialog"><!--  modal-lg -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Competency Details</h4>
            </div>
            <div class="modal-body">
                <p>This is a very basic example of a popup...</p>
            </div>
        </div>
    </div>
</div>
<script>
	// make available to competencies.js
    //var modata={{modata|raw}};
    //console.log(modata);
    //console.log('remove modata when done');

    var modules={{modules|raw}};
	var assignments={{assignments|raw}};// REPLACE
	var submissions = {{submissions|raw}};//json
	var competenciesColor='{{competenciesColor}}';
	var competenciesSize='{{competenciesSize}}'.toLowerCase();//string
	var competenciesAnimate={{competenciesAnimate}};//bool
    
    //string HexColor test: Replace with Color Picker in backend instance
    var compColor='{{competencies}}';
</script>