<!-- element for d3 to place competencies -->
<div id='outline' style=''></div><!--For No Data Instructions ???-->

<svg id = "competenciesSVG">
	<g id="competenciesView"></g>
</svg>


<link type='text/css' rel='stylesheet' href='/plugins/delphinium/blossom/assets/css/bootstrap.min.css'/>
<link type='text/css' rel='stylesheet' href='/plugins/delphinium/blossom/assets/css/competencies.css'/>

<script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/jquery.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/d3.min.js"></script>
<!--script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/competencies.js"></script-->
