<!-- For No Data Instructions & preloader -->
<div id="outline" class="spinner"></div>
<!-- For d3 to place competencies -->
<svg id = "competenciesSVG">
	<g id="competenciesView"></g>
</svg>

<script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/jquery.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/d3.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/competencies.js"></script>
