<!-- Instructor View with Settings -->

<div class="">
Configure this components <a data-toggle="modal" href="#content-confirmation"><i class="icon-cog"></i> Settings</a>
</div>
<!-- place competencies -->

{% partial 'competencies::display' %}

<!-- Configuration modal with Front End Form -->
<div class="control-popup modal fade" id="content-confirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:490px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Component Settings</h4>
            </div>
            <div class="modal-body">
				<div class="confirm-container bg-success hide">
                  <p style="text-align:center;">Successfully Updated Entry!</p>
                </div>

                <form role="form"
                  data-request="{{ __SELF__ }}::onSave"
                  data-request-success="$el.hide();$('.confirm-container').removeClass('hide');completed(data);">

                    {{ form.formRender()|raw }}
                    
                  <div class="form-group">
                     <button id="go" class="btn btn-primary btn-block btn-md" type="submit" value="register">Update Component</button>
                  </div>
                </form>

            </div>
			<div style="clear:both; height:1.5em"></div>
            <!--div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div-->
        </div>
    </div>
</div>

<script>
/*
    use faked data in competency display : bars are not clickable
    After changing settings, Refresh the component showCompetencies()
	course id has been added dynamically to config.course_id
    https://medium.com/@matissjanis/octobercms-using-backend-forms-in-frontend-component-fe6c86f9296b#.ge50nlmtc
*/
    var data = [{"name":"Align","total":210,"amount":80,"percent":38},{"name":"Ideas","total":596,"amount":167,"percent":28},{"name":"People","total":830,"amount":299,"percent":36}];
    var details = [{"name":"Align","assignments":[{"id":1660401},{"id":1660391},{"id":1660419},{"id":1660418}]},{"name":"Ideas","assignments":[{"id":1660391},{"id":1660400},{"id":1660403},{"id":1660392},{"id":1660390},{"id":1660394}]},{"name":"People","assignments":[{"id":1660391},{"id":1660408},{"id":1660392},{"id":1660390}]}];
    var assignments=[];// for click bar

	var configVal=[config.Name, config.Size, config.Color, config.Animate, config.course_id];
	var fieldIDs=['Form-field-Competencies-Name','Form-field-Competencies-Size','ColorPicker-formColor-input-Color','Form-field-Competencies-Animate','Form-field-Competencies-course_id'];
	
	//fill the form with current configuration
	for(var i=0; i<configVal.length; i++) {
		$('#'+fieldIDs[i]).val(configVal[i]);
	}
    // Fix Animate checkbox switch
    $('<div style="height:90px;" class="clearfix"></div>').insertBefore('.checkbox-field').parent;
	$('.checkbox-field').attr('style','margin-left:20px').removeClass('span-right').addClass('span-left');
	
	function completed(data)
	{
		//config has returned updated
		location.reload();
	/*	config = JSON.parse(data['result']);
		//console.log('config:',config);
		competenciesColor=config.Color;//string
		competenciesSize=config.Size.toLowerCase();//string
		competenciesAnimate=config.Animate;//boolean
		showCompetencies();// refresh component
		console.log('instance: '+config.id,config.Name,config.Size,config.Color,config.Animate,config.course_id);
	*/
	}
	
	console.log('instance: '+config.id,config.Name,config.Size,config.Color,config.Animate,config.course_id);
</script>
