<!-- Student View : element for d3 to place competencies -->
<script>
    var assignments={{assignments|raw}};//json
    var submissions = {{submissions|raw}};// Only available if DevConfig is student
</script>
{% partial 'competencies::display' %}

<!-- Modal: when a bar is clicked show details for the competency -->
<div class="control-popup modal fade" id="detailed" tabindex="-1" role="dialog">
    <div class="modal-dialog"><!--  modal-lg -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="detailed-title" class="modal-title">Competency Details</h4>
            </div>
            <div id="detailed-body" class="modal-body">
                <p>This displays details of competency</p>
            </div>
        </div>
    </div>
</div>
