<div id="divColorLegend" style="font-size: ">
    <div class="legendItem"><div class="darkBlue box"></div><div class="text">Completed</div></div>
    <div class="legendItem"><div class="lightBlue box"></div><div class="text">In-progress</div></div>
    <div class="legendItem"><div class="green box"></div><div class="text">Unlocked</div></div>
    <div class="legendItem"><div class="gray box"></div><div class="text">Locked</div></div>
</div>
<script type="text/javascript">
    var font = {{fontSize}};
    var div = document.getElementById("divColorLegend").style.fontSize=font+"px";
</script>