<!--This is the button that will launch the modal window-->
<button type="button" data-toggle="modal" data-target="#myModal"
                            data-request="onGetContent"
                            data-request-update="delete: '#modalContent'">Details</button>
                
<!--This is the handler. When the button is clicked, this function will return the necessary data. For now it only returns a string-->
function onGetContent() {
        return ['#modalContent' => 'This content will be pushed to the modalContent element'];
    }
    
<!--I want to display the partial inside this div. Particularly, the div with id "modalContent" will surround the partial-->
    <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="modalContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->