<script>
    var chartData = {{chartData | raw}};
    //var submissions = {{submissions | raw}};
    var numMilestones = {{numMilestones}};
    var students = {{users | raw}};
    var today = {{today}};
    var experienceInstanceId = {{experienceInstanceId}};
</script>

{% set studentData = __SELF__.studentData %}
{% set users = __SELF__.users %}
<div>
</div>
<div id="topContainer">
    <div>
        <div class="spinnerDiv" style="width:100%;height:400px;">
            <div style="width:60px;height:60px;position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);">
                <i class="icon-spinner icon-spin icon-3x icon-fw margin-bottom" style="color:#337AB7;"></i>
            </div>
        </div>
        <div id="chart"  style="width:800px;height:400px;opacity:0.5;"></div>
    </div>
    <div  id="topRight" style="opacity:0.5">
        <div class="multiselect" >
            {% for item in users %}
            <label class="nameLabel"><input class="single checkboxMultiselect" disabled  type="checkbox" value='{{item.user_id}}'>{{item.name}}</label>
            {% endfor %}
        </div>
        <label class="nameLabel labelSelectAll"><input disabled  class="deselectAll checkboxmultiselect " type="checkbox" value='0'>Select/Deselect all</label>
    </div>
</div>

<div>
    <div class="bottomSpinnerDiv" style="width: 100%; height: 400px;">
        <div style="width:60px;height:60px;position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%);">
            <i class="icon-spinner icon-spin icon-3x icon-fw margin-bottom" style="color:#337AB7;"></i>
        </div>
    </div>
    <div id="gridContainer" class="container">
        <table class='table table-condensed table-responsive table-bordered table-hover table-striped'>
            <thead>
            <tr>
                <th title="Number">No.</th>
                <th title="Student's name">Name</th>
                <th title="Points earned">Exp. Pts.</th>
                <th title="Bonus">Bonus</th>
                <th title="Penalties">Penalties</th>
                <th title="Total B/P">Total B/P</th>
                <th title="Total points">Current Score</th>
                <th title="Letter grade">Grade</th>
                <th title="See student view for selected student">Details</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            {% for item in studentData %}
            <tr>
                <td>{{ loop.index }}</td>
                <td class="tdName"><a target="_blank" href="{{item.profile_url}}">{{ item.name }}</a></td>
                <td>{{ item.score |round(2, 'common')}}</td>
                <td>{{ item.bonuses |round(2, 'common')}}</td>
                <td>{{ item.penalties |round(2, 'common')}}</td>
                <td>{{ item.totalBP |round(2, 'common')}}</td>
                <td>{{ item.total |round(2, 'common')}}</td>
                <td>{{ item.grade }}</td>
                <td><button type="button" data-toggle="modal" data-target="#myModal"
                            data-request="onGetContent"
                            data-request-update="delete: '#modalContent'">Details</button>
                </td>

            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="modalContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" src="plugins/delphinium/blossom/assets/javascript/light-table-sorter.min.js"></script>
<script> LightTableSorter.init()</script>


