<h3 class = "name">Rule Manager</h3>

<table>
	<tr>
		<th>Condition:</th>
		<td>
			<select>
	  			<option>attribute</option>
	  			<option>attribute</option>
	  			<option>attribute</option>
	  			<option>attribute</option>
			</select>
		</td>
		<td>
			<select>
	  			<option>operator</option>
	  			<option>operator</option>
	  			<option>operator</option>
	  			<option>operator</option>
			</select>
		</td>
		<td>
			<input type="text" placeholder="criteria"/>
		</td>
	</tr>
	<tr>
		<th>Operator:</th>
		<td>
			<select>
	  			<option>operator</option>
	  			<option>operator</option>
	  			<option>operator</option>
	  			<option>operator</option>
			</select>
		</td>
	</tr>
	<th>Condition:</th>
		<td>
			<select>
	  			<option>attribute</option>
	  			<option>attribute</option>
	  			<option>attribute</option>
	  			<option>attribute</option>
			</select>
		</td>
		<td>
			<select>
	  			<option>operator</option>
	  			<option>operator</option>
	  			<option>operator</option>
	  			<option>operator</option>
			</select>
		</td>
		<td>
			<input type="text" placeholder="criteria"/>
		</td>
	</tr>
	<tr>
		<th>Actions:</th>
		<td>
			<select>
	  			<option>action</option>
	  			<option>action</option>
	  			<option>action</option>
	  			<option>action</option>
			</select>
		</td>
	</tr>
</table>