
<script type="text/javascript" src="plugins/delphinium/poppies/assets/javascript/jquery.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/poppies/assets/javascript/jquery-ui.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/poppies/assets/javascript/jquery.spritely.js"></script>
<script type="text/javascript" src="plugins/delphinium/poppies/assets/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/delphinium/poppies/assets/javascript/popquiz.js"></script>
<script>
		
	var role = '{{role}}';
    console.log('Role: ',role);//string
	
	//var config
	
	// instructor vars
	var quizList = [];// all quizzes
	var nextcount=0;// question details
	
	// game vars
	var scoreis=0, misses=0;
	var current=0;// questnum
	var gameQuest=[];//questions used in game

</script>
{% if ('Learner' in role) %}
{% partial 'popquiz::learner' %}
{% elseif ('Instructor' in role) %}
{% partial 'popquiz::instructor' %}
{% endif %}