
/* 
    Author     : delphinium
*/

/********************* STYLES FOR COLOR LEGEND ********************/

#divColorLegend
{
    font-family: "Helvetica";
    border: 1px solid #8F8F8F;
    height: auto;
    width: auto;
    border-radius: 10px;
    position: absolute;
    top:480px;
    left:30px;
    padding:0px 10px 10px 0px;
    -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}
.legendItem > div
{
    display: inline-block;
}

.box
{    
    margin: 10px 5px 0 10px;
    width:20px;
    height:20px;
    border-radius: 5px;
}
.green{
    
    background-color:#588238;
}
.lightBlue{
    
    background-color:#3087B4;
}
.darkBlue{
    background-color:#143D55;
}
.gray{
    
    background-color:#8F8F8F;
}