/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2014, 6:02:57 PM
    Author     : damaris
*/

body{
    padding-top: 5px !important;
}

.navbar{
    margin-bottom: 5px;
    min-height: 30px !important;
}
.module-content{
    height:auto;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    min-height: 20px;
    padding: 0;
    position: relative;
}

.li-parent{
    border: 2px solid #e2e3e8;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 25px;
}

.dive{
    float: right;
    padding-top: 7px;
    position: relative;
    right: 5px;
    z-index: 10001;
    cursor:pointer;
    margin-left:5px;
}

.dd-item, .dd-empty, .dd-placeholder {
    padding:15px;
}

.dd-list{
    padding:0px 10px 0px 10px;
}
.divTags{
    border: 1px solid #e2e3e8;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e2e3e8;
    height: auto;
    min-height: 130px;
    padding: 10px;
    position: absolute;
    width: 500px;
    z-index: 100;
    background:white;
    opacity:.9;
}

.divTags div{
    background: none repeat scroll 0 0 white;
    border: 1px solid #e2e3e8;
    box-sizing: border-box;
    float: left;
    margin-right: 9px;
    padding: 3px;
    position: relative;
    width: auto;
    margin-top:5px;
}
.tagWrap{
    background: none repeat scroll 0 0 white;
    border: 1px solid #e2e3e8;
    box-sizing: border-box;
    float: left;
    margin-right: 9px;
    margin-top: 5px;
    padding: 3px;
    position: relative;
    width: auto;
}

.divTags div i{
    color:red;
    margin-left:3px;
    cursor:pointer;
}

.divTags button{
    padding:3px;
}
.wrap{
    position: absolute !important;
}
.tagWrap {
    position: absolute !important;
    top: 60px;
}

#divTags a{
    cursor:pointer;
}
.visible{
    display:block;
}

.hidden{
/*    display:hidden;*/
}

.divContent{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
    display: block;
    font-weight: bold;
    height: 30px;
    padding: 5px 10px 5px 50px;
    text-decoration: none;
}

.contentType{
    margin-right:3px;
    float:left;
}
.contentLink{
    cursor:pointer;
}
.divContent a:hover{
    text-decoration: none !important;
}
