#trail{
    height:15px;
}
#tooltip.svg{
/*    display:block;
    margin: auto;*/
}
.opaquePath{
    opacity:0.5;   
}
.visiblePath{
    opacity:1;   
}
#blocker{
    position:fixed;
    top:0;
    left:0;
    background-color: grey;
    opacity: 0.4;
    width:inherit;
    z-index: 1000;
    width:100%;
    height:100%;
    cursor: pointer;
}
.show
{
    display:block;
}
.hidden {
        display: none;
}

#tooltip{
    width:500px;
    height:400px;
    position: absolute;
    border: none;
}

#divInnerTooltip{
    position: absolute;
    width:500px;
    height:400px;
    padding: 10px 10px 10px 10px;
    background-color:white;
    color: black;
    font-family: "Helvetica";
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
#divPrerequisites
{
    border: 2px solid #FF6600;
    border-radius: 9px;
    font-size: 12px;
    padding: 1px 0 0 9px;
    width: 464px;
}
#divPrerequisites h4{
    display:inline-block;
    margin-left:2px !important;
    font-size:16px;
    color:#FF6600;
}
.red{
    color:red;   
}
.orange
{
 color:#FF6600;   
}
#tooltip h3{
    color:#4C9ED9;
}

#content a, a:link{
    color:rgb(20, 61, 85);
    text-decoration: none;
    cursor: pointer;
}
#content a, a:link{
    color:#2C2F34;
}
#content a, a:link{
    color:#2C2F34;
}

#tooltip .titleBar{
    width: 500px;
    font-family: helvetica;
    height: 25px;
    padding: 3px 3px 0px 5px;
    font-weight:bold;
    color:#E4E7EF;
    background-color: #2C2F34;
    margin-right:10px;
}
.titleBar
{
    /*width: 502px !important;*/
    margin-right: 0;
}
/*.titleBar:after{
  content: "";
    pointer-events: none;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0; right: 0;
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}*/

#tooltip .imgClose{
    color: white;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: -11px;
    z-index: 20001;
}
.fa-times-thin{
    right: 8px;
    top: -13px;
}
.fa-times-thin:before {
    content: '\00d7';
}
.fa-stack-2x, .fa-stack-1x{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stack
{
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
#tooltip #spTitle{
    margin-left:4px;
    position: absolute;
}
#tooltip #imgLock{
    position:relative;
    float:right;
}
.transparent{
    z-index: 999;
    opacity: 0.7;
    display: block;
}
.seeThroughOnly
{
    opacity: 0.7;
    display: block;    
    z-index: 10002;  
}
.solid{
    opacity:1;
    z-index:10002;
    display: block;
}
.hideOverflow{
    overflow:hidden;
}
.showOverflow
{
    overflow-y: scroll;
    overflow-x: hidden;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    line-height: 20px;
}
#tooltip .bottomDiv{
    padding: 5px;
}
.content{
    word-wrap:break-word;
}

#tooltipDesc
{
    text-indent: 25px;
}
#modalContainer
{
    float:right;
    width:200px;
    height:200px;
    display: none;
    z-index: 10001;
    background-color: white;
    position: fixed;
    right: 80px;
    border-radius:5px;
    border: 1px solid gray;
}
#sequence {
    font-size:10px;
    font-size:8px;
    width: 600px;
    height: 20px;
    position: relative;
    top:-3px;
    left:1px;
}
#sequence text, #legend text {
    font-weight: 600;
    fill:#E4E7EF;
}

ul
{
    list-style: none;
    padding-left: 0;
}
#ulAssignments
{
    font-size:12px;
}
#ulOptionalAssignments
{
    font-size: 12px;
}

#divOptionalAssig
{
    color:#FF6600;
    font-size:9px;
}
#ulPrerequisites li
{
    height:17px;   
    white-space: nowrap;
    cursor:help;
    color:#FF6600 !important; 
}
#ulPrerequisites li a
{
    color:#FF6600 !important; 
}

#ulPrerequisites li a:hover
{
    color:#FF6600 !important; 
}
#ulPrerequisites li a:visited
{
    color:#FF6600 !important; 
}

ul li a{
   margin-left:5px;
}

/******************** STYLES FOR ASSIGNMENTS BOX *****************/
.assignmentLi{  
    margin-bottom: 15px;
    position: relative;
}
.assignmentBox{
    width: 460px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
}

.assignmentBox:hover{
    border: 2px solid #D0D0D0;
}
.subheaderBox{
    width: 460px;
    height: 30px;
    margin-bottom:25px;
}
.subheaderBox .divSubheader{
    float: left;    
    width: 460px;
    font-weight: bold;
    height: auto;
    border-bottom: 1px solid rgb(162, 154, 158);
}

.subheaderLi{
    margin-bottom:15px;
}
.divSubheader h5
{
    margin:0px !important;
    font-weight: bold;
}
.divSubheader hr{
    margin-top:0 !important;
    border-top: 1px solid #D0D0D0 !important;
}
.divLeft{
    float: left;    
    width: 78%;
    height:inherit;
    padding:5px 0 0 5px;
}

.divLeft .gray{
    color: gray;
}
.divLeft a{
 font-size:14px;   
}
.divRight{
    float: right;
    width: 18%;
    height:inherit;
    padding:3px 3px 0 3px;
}
#divPrereq{
    font-style: italic;
    font-size: 80%;
    color: #808080;
    margin-left: 20px;
}
.spanAStatus
{
    cursor:default;   
}
#spanAName{
 margin-left:3px;   
}
.divDesc{
    float:left;
    margin-top:5px;
}
#divStatusDesc{
    font-size: 80%;
    color: #808080; 
    margin-left:3px
}
.divPoints{
    margin-top:10px;   
}
.divScore{
    position:relative;
    top:3px;
}

#divOptionalAssignments
{
    border-top:1px solid #F0F0F0;
}
#divAssignments
{
    border-top:1px solid #F0F0F0;
    padding-top: 10px;
}
/******************** STYLES FOR PREREQ BOX **********************/
.prereqLi{  
    cursor: pointer;
    position: relative;
}

#unauthorized{
    text-align: center;
}