<table class="eggs">
  <tr id="harlem-shake">
  	<td>
  		<img src="/delphinium/plugins/delphinium/blossom/assets/images/harlemshake-icon.png" >
  	</td>
  	<td>
  		<h1>Harlem Shake</h1>
  	</td>
  	<td>
  		<input type="text" >
  	</td>
  </tr>
  <tr id="ripples">
  	<td>
  		<img src="/delphinium/plugins/delphinium/blossom/assets/images/ripples-icon.png" >
  	</td>
  	<td>
  		<h1>Ripples</h1>
  	</td>
  	<td>
  		<input type="text" >
  	</td>
  </tr>
  <tr id="asteroids">
  	<td>
  		<img src="/delphinium/plugins/delphinium/blossom/assets/images/asteroids-icon.jpeg" >
  	</td>
  	<td>
  		<h1>Asteroids</h1>
  	</td>
  	<td>
  		<input type="text" >
  	</td>
  </tr>
  <tr id="katamari">
  	<td>
  		<img src="/delphinium/plugins/delphinium/blossom/assets/images/katamari-icon.jpg" >
  	</td>
  	<td>
  		<h1>Katamari</h1>
  	</td>
  	<td>
  		<input type="text" >
  	</td>
  </tr>
  <tr id="bombs">
  	<td>
  		<img src="/delphinium/plugins/delphinium/blossom/assets/images/bomb-icon.png" >
  	</td>
  	<td>
  		<h1>Bombs</h1>
  	</td>
  	<td>
  		<input type="text" >
  	</td>
  </tr>
  <tr id="ponies">
  	<td>
  		<img src="/delphinium/plugins/delphinium/blossom/assets/images/pony-icon.jpeg" >
  	</td>
  	<td>
  		<h1>Ponies</h1>
  	</td>
  	<td>
  		<input type="text" >
  	</td>
  </tr>
  <tr id="my-little-pony">
  	<td>
  		<img src="/delphinium/plugins/delphinium/blossom/assets/images/mylittlepony-icon.png" >
  	</td>
  	<td>
  		<h1>My Little Pony</h1>
  	</td>
  	<td>
  		<input type="text" >
  	</td>
  </tr>
</table>

<div class="">
<a data-toggle="modal" href="#content-confirmation">Configure component <i class="icon-cog"></i> Settings</a>
<button> Save </button>
</div>