<div id="eggs">
  <!--<div id="harlem-shake">
    <img src="/delphinium/plugins/delphinium/blossom/assets/images/harlemshake-icon.png" >
    <p> Press "H" and "S" at the same time to do the Harlem Shake</p>
  </div>
  <div id="ripples">
    <img src="/delphinium/plugins/delphinium/blossom/assets/images/ripples-icon.png" >
    <p> Press "R" and "P" to ripple the page</p>
  </div>
  <div id="asteroids">
    <img src="/delphinium/plugins/delphinium/blossom/assets/images/asteroids-icon.jpeg" >
    <p> Press "A" and "D" to play asteroids</p>
  </div>
  <div id="katamari">
    <img src="/delphinium/plugins/delphinium/blossom/assets/images/katamari-icon.jpg" >
    <p> Press "K" and "I" to play katamari</p>
  </div>
  <div id="bombs">
    <img src="/delphinium/plugins/delphinium/blossom/assets/images/bomb-icon.png" >
    <p> Press "B" and "M" to play bombs</p>
  </div>
  <div id="ponies">
    <img src="/delphinium/plugins/delphinium/blossom/assets/images/pony-icon.jpeg" >
    <p> Press "F" and "T" to play ponies</p>
  </div>
  <div id="my-little-pony">
    <img src="/delphinium/plugins/delphinium/blossom/assets/images/mylittlepony-icon.png" >
    <p> Press "L" and "P" to play my little pony</p>
  </div>-->
</div>
<script>
  var eggs = ['harlem_shake','ripples','asteroids','katamari','bombs','ponies','my_little_pony'];
  var eggs_div = document.getElementById('eggs');
  var html = "";
  for (var i = 0; i < eggs.length; i++) {
    if(current_grade >= config[eggs[i]]){
      html+= '<div id=' + eggs[i] + '>';
        html += '<img src="/delphinium/plugins/delphinium/blossom/assets/images/' + eggs[i] + '-icon.png" >';
        html += '<p> Press "' + eggs[i][0] + '" and "' + eggs[i][1] + '" at the same time to do the ' + eggs[i] + '</p>';
      html += '</div>';
    }
  }
  eggs_div.innerHTML = html;
</script>
