<ul>
    <div class="plugins subitems">

        <div class="layout">
            <?php foreach ($items as $index => $file): ?>
            <div class="layout-row">
                <div class="layout-cell">
                    <div class="layout-relative">
                        <li class="item" data-item-fullpath ="<?= e(ltrim($file->fullPath, '/')) ?>" data-item-path="<?= e(ltrim($file->path, '/')) ?>"  data-item-type="htm" >
                            <a class="name"><?= e($file->fileName) ?></a>

                            <input type="hidden" name="template[<?= e($file->fileName) ?>]" value="0"/>
                            <div class="checkbox custom-checkbox nolabel">
                                <?php $cbId = 'cb'.md5($file->fileName) ?>
                                <input
                                        id="<?= $cbId ?>"
                                        type="checkbox"
                                        name="template[<?= e($file->fileName) ?>]"

                                        data-request="<?= $this->getEventHandler('onSelect') ?>"
                                        value="1">
                                <label for="<?= $cbId ?>">Select</label>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
            <?php endforeach ?>
        </div>
    </div>
</ul>