<!--<div class="layout-row min-size">-->
    <!--<div class="control-toolbar toolbar-padded">-->

        <!--<div class="toolbar-item" data-calculate-width>-->
            <!--<div class="btn-group">-->

                <!--<button type="button" class="btn btn-primary oc-icon-plus"-->
                        <!--data-control="create-asset"-->
                        <!--data-toggle="dropdown"-->
                <!--&gt;<?= e(trans('cms::lang.sidebar.add')) ?></button>-->
                <!--&lt;!&ndash; Component Search &ndash;&gt;-->
                <!--<div class="relative toolbar-item loading-indicator-container size-input-text">-->
                    <!--<input placeholder="<?= e(trans('cms::lang.sidebar.search')) ?>" type="text" name="search" value="<?= e($this->getSearchTerm()) ?>"-->
                        <!--class="form-control icon search" autocomplete="off"-->
                        <!--data-track-input-->
                        <!--data-load-indicator-->
                        <!--data-load-indicator-opaque-->
                        <!--data-request="<?= $this->getEventHandler('onSearch') ?>"-->
                    <!--/>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<div class="layout-row min-size">
    <div class="control-toolbar toolbar-padded">

        <!-- Control Panel -->
        <div class="toolbar-item" data-calculate-width>
            <div class="btn-group">
                <div class="dropdown last">
                    <button type="button" class="btn btn-primary oc-icon-plus"
                            data-control="create-asset"
                            data-toggle="dropdown"
                    ><?= e(trans('cms::lang.sidebar.add')) ?></button>
                </div>
            </div>
        </div>

        <!-- Asset Search -->
        <div class="relative toolbar-item loading-indicator-container size-input-text">
            <input
                    type="text"
                    name="search"
                    value="<?= e($this->getSearchTerm()) ?>"
                    class="form-control icon search" autocomplete="off"
                    placeholder="<?= e(trans('cms::lang.sidebar.search')) ?>"
                    data-track-input
                    data-load-indicator
                    data-load-indicator-opaque
                    data-request-success="$('<?= '#'.$this->getId('tools-button') ?>').trigger('oc.triggerOn.update')"
                    data-request="<?= $this->getEventHandler('onSearch') ?>"
            />
        </div>

    </div>
</div>